
/*ANIMACIONES*/

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}


@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


@keyframes animacionLogo{
  from {
    -webkit-transform: rotate(0deg);
    transform: rotateY(0deg);
  }
  50%{
    -webkit-transform: rotate(180deg);
    transform: rotateY(180deg);
  } 
  to {
    -webkit-transform: rotate(360deg);
    transform: rotateY(360deg);
  }
}