/*CONTACTO*/
.contacto{
    text-align: center;
    margin-bottom: 50px;
}
hr{
    width: 270px;
    margin-left: 110px;
}
.form4{
    @include animacion(4s, aparecer);
    margin: 15px;
    div label{
    margin: 7px;}
    div input{
    background-color: $cool-beige;
    border: $cool-beige solid 1px;
    text-align: center;}
    div select{
    background-color: $cool-beige;
    padding: 10px;
    border: $cool-beige solid 1px;
    border-radius: 5px;}
}