/*SECCION 4 - CONTACTO*/
.contacto{
    text-align: center;
    margin-bottom: 50px;
}
.my-4{
    width: 270px;
    margin-left: 110px;
    text-align: center;
}
.form4{
    @include animacion(4s, aparecer);
    margin: 15px; 
    div label {
    margin: 7px;} 
    div input{
    background-color: $cool-beige;
    border: $cool-beige solid 1px;
    text-align: center;}
    div select{
    background-color: $cool-beige;
    padding: 10px;
    border: beige solid 1px;
    border-radius: 5px; }
    textarea{
    @include tamaños(200px,100px);}
}

.form4__legend{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    color:$cool-marron;
    font-weight: 15px;
}

.form4__legend:hover{
    -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.formularioevento{
    @include animacion(6s, slidein);
   margin-top: 40px;
}

