*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: lato, sans-serif;
    background-color:white;
    color:black;
}

/*nav*/
nav{
    background-color: rgb(255,238,143);
    box-shadow: black;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
   padding-left: 30px;
}

.parHader {
    display: flex;
    text-align: center;
    font-size: medium; 
    font-weight: bold;
    justify-content: center; }
.textoMenu  {
    display: flex;
    flex-grow: 0;}
a{
    text-decoration: none; 
}
a:link{
    color: black;
}

.nav-item a:hover{
    color: #d19f16;
}

.nav-item a:link{
    color: black;
}
  
.navbar-imagen{
    @include animacion (5s, animacionLogo);
    animation-iteration-count: infinite;
    @include tamaños (20px,30px);
    margin-left: 0px;
}
  
.nav-link{
    transition: transform .8s;
}
.nav-link:hover{
    transform: scale(1.1);
}

/*HEADER*/

header{
    margin-top: 100px;
}

.TituloPrincipal{
    margin: 50px;
    text-align: center;
    img{
        @include tamaños(300px, 90px)}
}

/*FOOTER*/
footer{
    background-color: $cool-doradooscuro;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 10px;
}

.redes i:hover{
    color: rgb(209, 159, 22);
}
.redes a:link{
    color: black;
}
.redes a:visited{
    color: black;
}

.redes{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    i{
    margin: 8px;}
}




