/*PARA TABLET*/
@media only screen and (min-width: 600px) {
    /*HEADER*/
    .TituloPrincipal{
     margin: 50px;
     text-align: center;
    img{
        @include tamaños(400px, 110px);}
    }

    /*INDEX*/
    .FondoIndex img{
        @include tamaños(800px,320px);
    }

    /*SECCION 1 - SOBRE NOSOTROS*/
    .trabajamos{
        margin-top: 50px;
    }
    .empresa__img{
        margin-left: 300px;
    }
   

    /*SECCION 3 - TESTIMONIOS*/
    .carousel{        
        width: 800px;
    }

    /*SECCION 4 - CONTACTO*/
    .my-4{
        display: none;
    }

}


 /*PARA COMPU*/
 @media only screen and (min-width: 1200px){
     .TituloPrincipal{
         margin: 50px;
         text-align: center;
        img{
        @include tamaños(900px, 280px);}
    }
     
    /*FOOTER*/
    footer{
        font-size: 15px;
    }
     


    /*INDEX*/
    .Presupuesto{
        font-size: 20px;
    }
 
    .imagindex img{
        @include tamaños(300px, 230px);
        margin: 3px;
    }

    .FondoIndex img{
        @include tamaños(auto,auto);
    }



    /*SECCION 1 - SOBRE NOSOTROS*/ 
   .trabajamos{
    margin-top: 30px;
    }
    .empresa img{
        @include tamaños(300px, 350px);
        margin-left: auto;
    }
 
    .trabajamos__texto{
        padding-top: 15px;
    }


 
    /*SECCION 2 - SERVICIOS*/
    .ServicioFlia{
        margin-top: 60px;
    }
    .Servicios img{
        @include tamaños(400px, 300px);
    }
    section h4{
        margin: 15px;
    }
    .Servicio__Empresa-texto{
        padding-top: 30px;
    }
 


    /*SECCION 3 - TESTIMONIOS*/
    .experienciacarousel{
        width: 900px;
        margin-left: 240px;
        text-align: center;
    }
 
    .comentario{
        margin-top: 30px;
        textarea{
        @include tamaños(1000px, 200px);}
    }
 


    /*SECCION 4 - CONTACTO*/
    .form4 textarea{
        @include tamaños(300px, 100px);
    }
 
    .my-4 {
        display: block;
        width: 430px;
        margin-left: 500px;
    }
    
    .formularioevento{
        margin-top: 60px;
    }

    
}